*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    min-height:100vh;
    background: #0c192c;
}
.box{
    position:relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}
.small_logo{
    height:100px;
    width: 100px;
}
#im1{
    width: 100%;
    position: absolute;
    mix-blend-mode:multiply;
}
.bubbles{
    position:relative;
    display:flex;
}
.bubbles span{
    position: relative;
    height: 30px;
    width: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc ,0 0 100px #4fc3dc;
    animation: animate 15s  linear infinite;
    animation-duration: calc(125s/var(--i));
  }
  .bubbles span:nth-child(even){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75 ,0 0 100px #ff2d75;
  }
  @keyframes animate
  {
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-100vh) scale(0.6);
    }
  }
